body {
    font-family: 'Roboto', sans-serif;
    background-color: #202123;
    color: #D1D5DB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-select {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#logout-button {
    padding: 0.5em 1em;
    background: #ff3333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#athletes-container {
    display: grid;
    gap: 1em;
    padding: 1em;
    max-width: 1200px;
    margin: auto;
}

.athlete-card {
    background-color: #2D2D2D;
    padding: 1em;
    border-radius: 5px;
}

.athlete-card h2, .athlete-card p {
    margin: 0;
    color: #D1D5DB;
}

.athlete-card a {
    color: #4A90E2;
    text-decoration: none;
}

.athlete-card a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #athletes-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #athletes-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1025px) {
    #athletes-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
